In [2]:
import numpy as np
import pandas as pd

In [3]:
names = ['class', 'x1', 'y1', 'x2', 'y2', 'object']

df = pd.read_csv('output.csv', sep = ',', names = names, header = None, squeeze = True)

In [4]:
df = df.iloc[1:]

In [ ]:
df = df.split('', expand=True)

In [5]:
df.head()

  class    x1    y1      x2      y2                    object
1   SaM   794  1455  1186.0  1812.0  5bdbd71e38802c59e0afa942
2  NGTR  1848  1854  2097.0  2180.0  5bdbd71e38802c59e0afa945
3  NGTR  2037  1872  2309.0  2207.0  5bdbd71e38802c59e0afa945
4   SaM  1011  1471  1424.0  1802.0  5bdbd71e38802c59e0afa942
5  NGTR  2205  1866  2499.0  2183.0  5bdbd71e38802c59e0afa945

In [7]:
a = df["x1"]

In [8]:
b = df["x2"]
c = df["y1"]
d = df["y2"]
a = np.array(a)
b = np.array(b)
c = np.array(c)
d = np.array(d)
e = df["class"]
e = np.array(e)

In [14]:
data = np.concatenate((e, a, b, c, d), axis = 1)

AxisError: axis 1 is out of bounds for array of dimension 1

In [10]:
print(data)

['SaM' 'NGTR' 'NGTR' 'SaM' 'NGTR' 'HMC' 'HMC' 'ShG' 'Ebi' 'Ika' 'Ebi'
 'NGTR' 'MGR' 'SaM' 'NGTR' 'TKM' 'Ebi' 'SaM' 'Ebi' 'ANG' 'MGR' 'TMG' 'HMC'
 'Oke' 'HIKR' 'MGR' 'TMG' 'TKM' 'TMG' 'ANG' 'Ika' 'ANG' 'HIKR' 'Ika' 'Ika'
 'TKM' 'TKM' 'ANG' 'TKM' 'HMC' 'HIKR' 'HMC' 'TMG' 'HIKR' 'TKM' 'Ebi' 'TKM'
 'MGR' 'TMG' 'TKM' 'SaM' 'HIKR' 'TKM' 'TKM' 'TKM' 'ANG' 'Ika' 'MGR' 'TKM'
 '794' '1848' '2037' '1011' '2205' '1010' '816' '1996' '1582' '2268'
 '2222' '1674' '1185' '1248' '2406' '980' '1940' '581' '1764' '2069'
 '1370' '1122' '590' '220' '1755' '996' '639' '1165' '886' '1685' '1578'
 '1876' '1538' '1739' '2108' '1543' '1371' '2294' '1079' '372' '953'
 '1224' '381' '1145' '1269' '1450' '1710' '773' '1363' '1637' '327' '1335'
 '1811' '1891' '1452' '1455' '1913' '563' '887' 1186.0 2097.0 2309.0
 1424.0 2499.0 1378.0 1199.0 2352.0 2075.0 2616.0 2748.0 1902.0 1530.0
 1703.0 2667.0 1179.0 2503.0 978.0 2249.0 2495.0 1744.0 1615.0 1006.0
 2935.0 2011.0 1340.0 1123.0 1363.0 1354.0 2083.0 1872.0 2274.0 1816.0
 2067.0 2433.0 1720.0 1563.0 2703.0 1285.0 798.0 1236.0 1664.0 921.0
 1404.0 1463.0 1871.0 1904.0 1125.0 1836.0 1821.0 747.0 1610.0 2018.0
 2095.0 1645.0 1890.0 2264.0 949.0 1091.0 '1455' '1854' '1872' '1471'
 '1866' '1092' '1074' '418' '1051' '716' '1050' '1886' '721' '1454' '1893'
 '2461' '1094' '1445' '1065' '1451' '705' '1787' '1071' '31' '333' '722'
 '1816' '2472' '1812' '1467' '694' '1440' '315' '697' '728' '2451' '2468'
 '1477' '2289' '1046' '380' '1099' '1827' '337' '2310' '1091' '2478' '733'
 '1793' '2291' '1400' '313' '2269' '2421' '2288' '1474' '695' '735' '2306'
 1812.0 2180.0 2207.0 1802.0 2183.0 1486.0 1485.0 743.0 1487.0 1096.0
 1469.0 2217.0 1043.0 1853.0 2216.0 2662.0 1475.0 1838.0 1482.0 1819.0
 1063.0 2320.0 1473.0 2875.0 622.0 1072.0 2329.0 2678.0 2313.0 1806.0
 1065.0 1816.0 633.0 1069.0 1083.0 2640.0 2668.0 1787.0 2515.0 1510.0
 700.0 1511.0 2368.0 667.0 2528.0 1487.0 2679.0 1045.0 2340.0 2500.0
 1858.0 652.0 2464.0 2635.0 2490.0 1801.0 1067.0 1070.0 2506.0]

In [12]:
data.reshape(-1, 5)
print(data)

['SaM' 'NGTR' 'NGTR' 'SaM' 'NGTR' 'HMC' 'HMC' 'ShG' 'Ebi' 'Ika' 'Ebi'
 'NGTR' 'MGR' 'SaM' 'NGTR' 'TKM' 'Ebi' 'SaM' 'Ebi' 'ANG' 'MGR' 'TMG' 'HMC'
 'Oke' 'HIKR' 'MGR' 'TMG' 'TKM' 'TMG' 'ANG' 'Ika' 'ANG' 'HIKR' 'Ika' 'Ika'
 'TKM' 'TKM' 'ANG' 'TKM' 'HMC' 'HIKR' 'HMC' 'TMG' 'HIKR' 'TKM' 'Ebi' 'TKM'
 'MGR' 'TMG' 'TKM' 'SaM' 'HIKR' 'TKM' 'TKM' 'TKM' 'ANG' 'Ika' 'MGR' 'TKM'
 '794' '1848' '2037' '1011' '2205' '1010' '816' '1996' '1582' '2268'
 '2222' '1674' '1185' '1248' '2406' '980' '1940' '581' '1764' '2069'
 '1370' '1122' '590' '220' '1755' '996' '639' '1165' '886' '1685' '1578'
 '1876' '1538' '1739' '2108' '1543' '1371' '2294' '1079' '372' '953'
 '1224' '381' '1145' '1269' '1450' '1710' '773' '1363' '1637' '327' '1335'
 '1811' '1891' '1452' '1455' '1913' '563' '887' 1186.0 2097.0 2309.0
 1424.0 2499.0 1378.0 1199.0 2352.0 2075.0 2616.0 2748.0 1902.0 1530.0
 1703.0 2667.0 1179.0 2503.0 978.0 2249.0 2495.0 1744.0 1615.0 1006.0
 2935.0 2011.0 1340.0 1123.0 1363.0 1354.0 2083.0 1872.0 2274.0 1816.0
 2067.0 2433.0 1720.0 1563.0 2703.0 1285.0 798.0 1236.0 1664.0 921.0
 1404.0 1463.0 1871.0 1904.0 1125.0 1836.0 1821.0 747.0 1610.0 2018.0
 2095.0 1645.0 1890.0 2264.0 949.0 1091.0 '1455' '1854' '1872' '1471'
 '1866' '1092' '1074' '418' '1051' '716' '1050' '1886' '721' '1454' '1893'
 '2461' '1094' '1445' '1065' '1451' '705' '1787' '1071' '31' '333' '722'
 '1816' '2472' '1812' '1467' '694' '1440' '315' '697' '728' '2451' '2468'
 '1477' '2289' '1046' '380' '1099' '1827' '337' '2310' '1091' '2478' '733'
 '1793' '2291' '1400' '313' '2269' '2421' '2288' '1474' '695' '735' '2306'
 1812.0 2180.0 2207.0 1802.0 2183.0 1486.0 1485.0 743.0 1487.0 1096.0
 1469.0 2217.0 1043.0 1853.0 2216.0 2662.0 1475.0 1838.0 1482.0 1819.0
 1063.0 2320.0 1473.0 2875.0 622.0 1072.0 2329.0 2678.0 2313.0 1806.0
 1065.0 1816.0 633.0 1069.0 1083.0 2640.0 2668.0 1787.0 2515.0 1510.0
 700.0 1511.0 2368.0 667.0 2528.0 1487.0 2679.0 1045.0 2340.0 2500.0
 1858.0 652.0 2464.0 2635.0 2490.0 1801.0 1067.0 1070.0 2506.0]